duckdb==1.1.1
ipykernel==6.29.5
pandas==2.2.3
pre-commit==3.8.0
PyYAML==6.0.2
requests==2.32.3

# types-PyYAML==6.0.12.20240917
# types-requests==2.32.0.20240914
# dbt-core==1.7.8
# dbt-duckdb==1.7.1
