---
layout: all_posts.njk
title: Politik und Gesellschaft – Databearer
description: Analysen zu gesellschaftlichen Trends, Politikentscheidungen und ihren Folgen.
isTopicPage: true
pagination:
  data: collections.politikPosts
  size: 10
  reverse: true
  addAllPagesToCollections: true
header: Politik und Gesellschaft
intro: Politische Entscheidungen und gesellschaftliche Trends im Kontext von Daten und Fakten.
useFullCard: false
showAllPosts: true
---
