---
layout: base.njk
title: Home - My Blog
pagination:
  data: collections.post
  size: 10
  reverse: true
---

<nav class="topics-nav">
    <div class="container">
        <ul class="topics-menu">
            <li>
                <a href="/topic-1/">Topic 1</a>
            </li>
            <li>
                <a href="/topic-2/">Topic 2</a>
            </li>
            <li>
                <a href="/topic-3/">Topic 3</a>
            </li>
        </ul>
    </div>
</nav>
<section class="blog-grid">

    <h1>Aktuelle Beiträge</h1>

    {%- if pagination.items.length > 0 and not pagination.href.previous %}
        {%- set featuredPost = pagination.items[0] %}
        <a href="{{ featuredPost.url }}" class="blog-card-link">
            <article class="blog-card featured-post">
                <div class="blog-card-image">
                    <img src="{{ featuredPost.data.image}}"" alt="{{ featuredPost.data.title }}">
                </div>
                <div class="blog-card-content">
                    <p class="post-date">{{ featuredPost.data.date | localDate(site.locale) }}</p>
                    <h2>{{ featuredPost.data.title }}</h2>
                    <p>{{ featuredPost.data.excerpt }}</p>
                </div>
            </article>
        </a>
    {%- endif %}

    <div class="grid">
        {%- for post in pagination.items %}
            {%- if loop.index0 > 0 %}
                <a href="{{ post.url }}" class="blog-card-link">
                    <article class="blog-card">
                        <div class="blog-card-image">
                            <img src="{{ post.data.image}}" alt="{{ post.data.title }}">
                        </div>
                        <div class="blog-card-content">
                            <p class="post-date">{{ post.data.date | localDate(site.locale) }}</p>
                            <h2>{{ post.data.title }}</h2>
                            <p>{{ post.data.excerpt }}</p>
                        </div>
                    </article>
                </a>
            {%- endif %}
        {%- endfor %}
    </div>

    {%- if pagination.href.previous or pagination.href.next %}
        <nav class="pagination">
            {%- if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}" class="pagination-link">← Newer Posts</a>
            {%- endif %}

            <span class="pagination-info">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>

            {%- if pagination.href.next %}
                <a href="{{ pagination.href.next }}" class="pagination-link">Older Posts →</a>
            {%- endif %}
        </nav>
    {%- endif %}
</section>